body, button, input, textarea, select {
  font-family: 'Happy Monkey', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-image: url('./assets/images/backgroundImage.webp');
  background-size: cover; /* Đảm bảo hình nền phủ kín màn hình */
  background-repeat: no-repeat; /* Ngăn không cho hình nền lặp lại */
  background-attachment: fixed; /* Giữ hình nền cố định khi cuộn */
}