/* customCarousel.css */

.carousel-item {

    align-items: center;
    justify-content: center;
}

.carousel-image-container {
    flex: 0 0 auto;
    /* Cho phép container tự điều chỉnh kích thước dựa trên nội dung bên trong */
    text-align: center;
    /* Căn giữa ảnh */
}

.carousel-image {
    max-width: 50%;
    /* Giảm kích thước của ảnh */
    height: auto;
    /* Đảm bảo tỷ lệ của ảnh */
}

.carousel-caption-container {
    padding-left: 15px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 10px;
}

.carousel-caption {
    text-align: left;
    /* Căn nội dung caption bên trái */
    background-color: rgba(255, 255, 255, 0.8);
    /* Màu nền và độ trong suốt */
    border-radius: 5px;
    /* Góc bo tròn */
    padding: 10px;
    /* Đệm xung quanh nội dung */
    max-width: 100%;
    /* Giới hạn chiều rộng tối đa */
    width: 100%;
    /* Đảm bảo nội dung trải đều theo chiều rộng của container */
}

.carousel-container {
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: white;
    width: 100%;
    /* Make it responsive to the container's width */
    max-width: 1300px;
    /* Adjust this as needed */
}

.carousel-caption-container .carousel-caption h5 {
    font-family: 'Happy Monkey', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #3b9107;
}

.carousel-caption-container .carousel-caption p {
    font-family: 'Happy Monkey', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #3b9107;
}

/* Responsive adjustments */
@media (max-width: 767px) {
    .carousel-caption-container, .carousel-image-container {
        flex-basis: 100%;
    }
}

@media (min-width: 768px) {
    .carousel-caption-container, .carousel-image-container {
        flex-basis: 50%;
    }
}

@media (min-width: 992px) {
    .carousel-caption-container, .carousel-image-container {
        flex-basis: 50%;
    }
}
